@use '../utilities/functions.scss' as *;
@use 'sass:map';

$aqua-breakpoints: (
  'xs': 0,
  'sm': toRem(600),
  'md': toRem(960),
  'lg': toRem(1280),
  'xl': toRem(1920)
);

$aqua-breakpoint-sm: map.get($aqua-breakpoints, 'sm');
$aqua-breakpoint-md: map.get($aqua-breakpoints, 'md');
$aqua-breakpoint-lg: map.get($aqua-breakpoints, 'lg');
$aqua-breakpoint-xl: map.get($aqua-breakpoints, 'xl');
